.react-calendar { 
 width: 400px;
 max-width: 100%;
 background-color: #121212;
 color: white;
 border-radius: 8px;
 box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.125em;
 border: none;
}
.react-calendar__navigation button {
 color: #1355cd;
 min-width: 44px;
 background: none;
 font-size: 16px;
 margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
 background-color: #FFFFFF10;
 border-radius: 5px;
}
.react-calendar__navigation button[disabled] {
 background-color: #FFFFFF10;
 border-radius: 5px;
}
abbr[title] {
 text-decoration: none;
}


.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
 background: #1355cd;
 color: #fff;
 border-radius: 6px;
}
.react-calendar__tile--now {
 background: #6f48eb33;
 border-radius: 6px;
 font-weight: bold;
 color: #1355cd;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
 background: #1355cd;
 border-radius: 6px;
 font-weight: bold;
 color: white;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
 background: #1355cd;
}
.react-calendar__tile--active {
 background: #6f48eb;
 border-radius: 6px;
 font-weight: bold;
 color: orange;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
 background: #1355cd;
 color: white;
}
.react-calendar--selectRange .react-calendar__tile--hover {
 background-color: #f8f8fa;
}
.react-calendar__tile--range {
 background: #1355cd;
 color: #1355cd;
 border-radius: 0;
}